{% extends "base/base.html"  %}



{% load static %}

{% block start %}

<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
{% include "base/alert.html"  %}
                    
                    <div class="carousel-inner">
                        
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>{{banners.first.Title}}</h2>
                                <p>{{banners.first.Description}}</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img style="height:45rem;width:25rem;"src="media/{{banners.first.Image}}" class="girl img-responsive" alt="" />
                                <img src="{% static 'home/images/home/pricing.png' %}"  class="pricing" alt="" />
                            </div>
                        </div>

                        {% for banner in banners|slice:"1:" %}
                        
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>{{banner.Title}}</h2>
                                <p>{{banner.Description}} </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img style="height:30rem;" src="media/{{banner.Image}}" class="girl img-responsive" alt="" />
                                <img src="{% static 'home/images/home/pricing.png' %}"  class="pricing" alt="" />
                            </div>
                        </div>
                        {% endfor %}    
<!--                        
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>E</span>-SHOPPER</h1>
                                <h2>Free Ecommerce Template</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static 'home/images/home/girl3.jpg' %}" class="girl img-responsive" alt="" />
                                <img src="{% static 'home/images/home/pricing.png' %}" class="pricing" alt="" />
                            </div>
                        </div> -->
                        
                    </div>
                    
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
      {% include "base/category1.html"  %}
                    
                    <div class="shipping text-center"><!--shipping-->
                        <img src="{% static 'home/images/home/shipping.jpg'%}" alt="" />
                    </div><!--/shipping-->
                    <div class="shipping text-center"><!--shipping-->
                        <img style="height:44rem" src="{% static 'home/images/home/slide.jpg'%}" alt="" />
                    </div><!--/shipping-->
                    <div class="shipping text-center"><!--shipping-->
                        <img style="height:44rem" src="{% static 'home/images/home/yellow.jpg'%}" alt="" />
                    </div><!--/shipping-->
                    <div class="shipping text-center"><!--shipping-->
                        <img style="height:44rem" src="{% static 'home/images/home/smile.jpg'%}" alt="" />
                    </div><!--/shipping-->
                </div>
            </div>
            
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                   {% for product in products %}
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <!-- <img src="images/home/product6.jpg" alt="" /> -->
                                    {% for image in product.product_images.all %}
                                    
                                   <a href="{% url 'product_details' product.id %}"> <img  style='height:280px;'  src="/media/{{ image.image }}"   alt="" /></a>
                                    {% endfor %}
                                    <h2>${{product.price}} </h2>
                                    <p>{{product.name}}</p>
                                    
                                    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                                <!-- <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h2>${{product.price}} </h2>
                                        <p>{{product.name}}</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                </div> -->
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href="{% url 'addwishlist'  product.id %}"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>

{% endblock %}