{% extends "base/base.html"  %}

{% load static %}
{% load cart %}

{% block start %}

<div class="py-5 text-center">
  <h2>Checkout form</h2>

</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                     <!-- <h2>SELECT PAYMENT</h2>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                            Default checked radio
                            </label>
                        </div>  -->


                        <div class="container">
                            
                            
                          <form class="needs-validation" action="{% url 'place_order'   %}" method='post' novalidate>
                          
                              <div class="row">
                                <div class="col-md-6 mb-3">
                                  <label for="firstName">First name</label>
                                  <input type="text" class="form-control" id="firstName"  name="firstName" placeholder="" value="{{userinfo.first_name|capfirst}}" required>
                                  
                                </div>
                                <div class="col-md-6 mb-3">
                                  <label for="lastName">Last name</label>
                                  <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="{{userinfo.last_name|capfirst}}" required>
                               
                                </div><br>

                                  <div class="col-md-6 mb-3">
                                    <label for="email">Email <span class="text-muted"></span></label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="" value="{{request.user}}" required>
 
                                  </div><br>


                                  <div class="col-md-6 mb-3">
                                    <label for="email">Mobile No <span class="text-muted"></span></label>
                                    <input type="text" class="form-control" id="mobile_number" name="mobile_number" placeholder="" value="{{adress.mobile_number}}">
 
                                  </div><br>
                              </div><br>
                            <div class="row">
                              <div class="col-md-6 order-md-1">
                                <h3 class="mb-3">Shipping address </h3><hr>
                          
                          
                                  <div class="mb-3">
                                    <label for="address">Address1</label>
                                    <input type="text" class="form-control" id="ship_address1" name="ship_address1" placeholder="" value={{adress.address_1|capfirst}} required>
                                
                                  </div><br>
                          
                                  <div class="mb-3">
                                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                                    <input type="text" class="form-control" id="ship_address2" name="ship_address2"  placeholder="" value={{adress.address_2|capfirst}} >
                                  </div><br>
                          
                                  <div class="row">
                                    <div class="col-md-5 mb-3">
                                      <label for="zip">City</label>
                                    <input type="text" class="form-control" id="ship_country" name="ship_country"  placeholder="" value={{adress.country|capfirst}}  required>
                               
                                   
                                    </div>
                                    <div class="col-md-4 mb-3">
                                      <label for="zip">State</label>
                                      <input type="text" class="form-control" id="ship_state" name="ship_state" placeholder="" value={{adress.state|capfirst}}  required>
                                      
                                    </div>
                                  
                                  </div><br>
                                  <div class="col-md-3 mb-3">
                                    <label for="zip">Zip</label>
                                    <input type="text" class="form-control" id="ship_zip" name="ship_zip" placeholder="" value={{adress.zipcode}}  required>
                               
                                  </div><br>
                                  <hr class="mb-4"><br>
                                  <div class="custom-control custom-checkbox">
                        
                                    <input type="checkbox"  class="custom-control-input" id="same-address" name="same-address" onclick= "billingFunction()"/>
                                    <label class="custom-control-label" for="same-address">Billing address is the same as my Shipping address</label>
                                  </div>
                              </div>
                              <div class="col-md-6 order-md-1">
                                <h3 class="mb-3">Billing  address </h3><hr>
                          
                          
                                  <div class="mb-3">
                                    <label for="address">Address1</label>
                                    <input type="text" class="form-control" id="bill_address1" name="bill_address1" placeholder="" value="" required>
                                
                                  </div><br>
                          
                                  <div class="mb-3">
                                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                                    <input type="text" class="form-control" id="bill_address2" name="bill_address2" placeholder="" value="">
                                  </div><br>
                          
                                  <div class="row">
                                    <div class="col-md-5 mb-3">
                                      <label for="zip">City</label>
                                    <input type="text" class="form-control" id="bill_country" name="bill_country" placeholder="" value=""  required>
                               
                                   
                                    </div>
                                    <div class="col-md-4 mb-3">
                                      <label for="zip">State</label>
                                      <input type="text" class="form-control" id="bill_state" name="bill_state" placeholder="" value="" required>
                                 
                                      
                                    </div>
                                  
                                  </div><br>
                                  <div class="col-md-3 mb-3">
                                    <label for="zip">Zip</label>
                                    <input type="text" class="form-control" id="bill_zip" name="bill_zip" placeholder="" value=""  required>
                               
                                  </div>
                              </div>
                                  </div>
                                </div>
                            </div>

 <hr>
           
                                  <h3 class="mb-3">Payment</h3>
          
                                  <div class="d-block my-3">
                                    {% for value in payment_methods %}

                                    <div class="custom-control custom-radio">
                                      <input id="{{value}}" name="payment"  type="radio" class="custom-control-input"  value="{{value}}">

                                      <label class="custom-control-label" for="{{value}}">{{value}}</label>
                                    </div>
                                        {% endfor %}

                                  </div>
                                  
                                  
                                  <!-- <hr class="mb-4">   -->
                                  <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
                                  
                                  <form action="{% url 'create-checkout-session' %}" method="POST">{% csrf_token %}
                                    <input type="hidden" name="order-id" value="">
                                    
                                    <button type="submit" id="checkout-button">Checkout</button>
                                  </form>
                                  <br><br>

                              </div>
                            </div>
                          </form>
<br>

                          

                          <!-- <a href="{% url 'pay_success' %}">success</a> -->
                          <br><br>
                            <footer class="my-5 pt-5 text-muted text-center text-small">
                              <p class="mb-1">&copy; 2022-2023 Company Name</p>
                              <ul class="list-inline">
                                <li class="list-inline-item"><a href="#">Privacy</a></li>
                                <li class="list-inline-item"><a href="#">Terms</a></li>
                                <li class="list-inline-item"><a href="#">Support</a></li>
                              </ul>
                            </footer>

                          </div>                          
                </div>
            </div>
        </div>          
    </div>
</section>
<script>
  
  function billingFunction(){
    
    if (document.getElementById('same-address').checked)
    {
      document.getElementById('bill_address1').value = document.getElementById('ship_address1').value;
      document.getElementById('bill_address2').value = document.getElementById('ship_address2').value;
      document.getElementById('bill_country').value = document.getElementById('ship_country').value;
      document.getElementById('bill_state').value = document.getElementById('ship_state').value;
      document.getElementById('bill_zip').value = document.getElementById('ship_zip').value;
    }
    else{
      document.getElementById('bill_address1').value = "";
      document.getElementById('bill_address2').value = "";
      document.getElementById('bill_country').value = "";
      document.getElementById('bill_state').value = "";
      document.getElementById('bill_zip').value= "";
   };
  } 

</script>

{% endblock %}