{% extends 'base/base.html' %}
{% load static %}
{% comment %} {% block title %} Empty Wishlist {% endblock title %} {% endcomment %}
{% block start %}
    <div class="container my-5">
        <div class="row">
            <div class="text-center">
                <!-- <h3 class="text-center"> You have no product in your Wishlist </h3> -->

                <img style="width:71rem;height:52rem;border:none;" src="https://cdn.dribbble.com/users/1010436/screenshots/13921028/dribble_shot_62_4x.jpg" alt="" class="img-fluid img-thumbnail w-25">
            </div>
        </div>
    </div>
{% endblock %}